/* Main CSS~ ♡ */
html {
    color: rgb(117, 143, 179);
    background: url(/imgs/Tiny222\ ribbon\ background.png) no-repeat top right;
    text-align: center;
    text-decoration-color: rgb(243, 202, 194);
  }
  /* Text Detail~ ♡ */
  h1 {
    color: rgb(243, 202, 194);
    text-shadow: -1px -1px 0 #6271b3, 1px -1px 0 #6271b3, -1px 1px 0 #6271b3, 1px 1px 0 #6271b3;
    font-size: 11px;
    letter-spacing: 4px;
  }
  h2 {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
  }
  h3 {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
  }
  /* Scroll Width~ ♡ */
  ::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Scroll Track~ ♡ */
  ::-webkit-scrollbar-track {
    background: rgb(190, 208, 234);
  }
  
  /* Scroll Handle~ ♡ */
  ::-webkit-scrollbar-thumb {
    border: rgb(117, 143, 179) dashed;
    background-color: rgb(200, 217, 243);
  }
  
  /* Scroll Handle on hover~ ♡ */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 143, 179);
  }
/* Collapse~ ♡ */
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }